
@mixin chevron-icon {
    display: inline-block;
    width: 2px;
    height: 2px;
    border-style: solid;
  }

  .chevron-up {
    @include chevron-icon;
    border-width: 0 0.5em 0.5em 0.5em;
    border-color: transparent transparent #e3dcd2 transparent;
  }
  
  .chevron-down {
    @include chevron-icon;
    border-width: 0.5em 0.5em 0 0.5em;
    border-color: #e3dcd2 transparent transparent transparent;
  }
  
  .chevron-left {
    @include chevron-icon;
    border-width: 0.5em 0.5em 0.5em 0;
    border-color: transparent #e3dcd2 transparent transparent;
  }
  
  .chevron-right {
    @include chevron-icon;
    border-width: 0.5em 0 0.5em 0.5em;
    border-color: transparent transparent transparent #e3dcd2;
  }