
@mixin chevron-icon {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
  }

  .chevron-up {
    @include chevron-icon;
    border-width: 0 0.5em 0.5em 0.5em;
    border-color: transparent transparent #750707 transparent;
  }
  
  .chevron-down {
    @include chevron-icon;
    border-width: 0.5em 0.5em 0 0.5em;
    border-color: #000 transparent transparent transparent;
  }
  
  .chevron-left {
    @include chevron-icon;
    border-width: 0.5em 0.5em 0.5em 0;
    border-color: transparent #000 transparent transparent;
  }
  
  .chevron-right {
    @include chevron-icon;
    border-width: 0.5em 0 0.5em 0.5em;
    border-color: transparent transparent transparent #330ae7;
  }